@import url('./main.css');


body {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.main {
    height: 100vh;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
}

.container {
    min-width: 470px;
    display: flex;
    flex-direction: column;
}

.container-header {
    margin: 30px;
    align-self: center;
}

.container-body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.container-footer {
    text-align: center;
    margin-top: 40px;
}

.link {
    padding: 15px;
    color: var(--main-color);
    text-decoration: none;
}

.white-box {
    background-color: var(--light-color);
    padding: 20px 40px 50px 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
}

.white-box h1 {
    color: var(--h1-color);
    font-size: var(--h1-size);
}

.white-box form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.white-box form div {
    display: flex;
    flex-direction: column;
}

.white-box form div input {
    height: 40px;
    border: 2px solid var(--border-color);
    padding: 19px 15px 19px 15px;
    border-radius: 7px;
    font-size: var(--body-size);
}

.white-box input[type=submit] {
    cursor: pointer;
    margin-top: 10px;
    height: 50px;
    font-size: var(--body-size);
    padding: 10px;
    background-color: var(--main-color);
    color: var(--light-color);
    font-weight: bold;
    border: none;
}

.white-box input[type=submit]:hover {
    transition: 250ms;
    background-color: var(--accent-color);
}

/* Floating Label */

.user-input-wrp {
    position: relative;
}

.user-input-wrp .floating-label {
    padding: 0px 10px;
    position: absolute;
    pointer-events: none;
    top: 23px;
    left: 8px;
    opacity: .6;
    transition: 0.2s ease all;
}

.user-input-wrp input:focus~.floating-label,
.user-input-wrp input:not(:focus):valid~.floating-label {
    transition: 250ms;
    top: -15px;
    font-size: var(--body-min-size);
    background-color: white;
    opacity: 1;
}

/* Error class */

.danger input {
    border: 2px solid var(--danger-color) !important;
}

.danger span {
    color: var(--danger-color) !important;
}

.not-working {
    user-select: none;
    cursor: no-drop;
}

